@import './main.css';

header
{
    padding:32px;
    gap:28px;
}

.absCenter
{
    left: 50%;
    transform: translateX(-50%);
}


.TextContainer
{
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.TextContainer ul
{
    justify-self: end;
}

.Banner
{
    position: relative; 
    
}

.Banner .Content
{
    gap:120px;
    max-width: 1280px;
}

.Banner .Content *
{
    z-index: 10;
}


.Banner .BackgrImg
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.Banner .BackgrImg img
{
    content: url("./assets/Banner1BackMob.png");
    background: #354463;

}


.Banner .BannDescHead
{
    position: absolute;
    top: -20px;
    padding:10px 40px;
    left: 50%;
    transform: translateX(-50%);
}

.Banner a
{
    display: block;
    overflow: hidden;
    text-decoration: underline;
}

.ActionItemList
{
    grid-template-columns: 1fr 1fr;
    gap: 24px;
 
}

.ActionItemDiv .ActionBtn
{
    top: -20px;
    min-width: 160px;
    padding: 10px 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.Work
{
    justify-items: center;
    display: grid;
    align-items: flex-start;
}

.ClimateChange .BackImg
{
    
    left:0;
    top:0;
}

.ClimateChange .BackImg img
{
    content: url(./assets/HungerBackMob.png);
}


.FactList
{
  row-gap: 1rem;

}

.Fact
{
    grid-template-columns: 6fr 1fr;
    column-gap: 20px;
}

.IconWrapp
{
    width: 32px;
    height: 32px;
}

.IconWrapp img
{
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}

.StoryImg img
{
    content: url("./assets/story1Mob.png");
}

.NewsList
{
    gap:85px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

    header
    {
        padding:20px 52px;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap:0;
    }

    .TextContainer
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .TextContainer ul
    {
        justify-self: start;
    }

    .TextContainer ul li
    {
        display: inline-block;

    }

    .Banner .BackgrImg img
    {
        content: url("./assets/Banner1BackTablet.png");

    }

    .Banner .BannDescHead
    {

        padding:10px 40px;
        left: 64px;
        transform: translateX(0%);
    }


    .BannerDesc
    {
        text-align: left;
        padding: 64px;
    }

    .ActionItemList
    {
        column-gap:128px;
    }

    .Work
    {
        grid-template-areas:
        "Image TextCont"
        "Buttn TextCont";
        grid-template-columns: 5fr 4fr;
        grid-column-gap: 2rem;
        text-align: left;
    }

    .Work .ImgCont
    {
        grid-area: Image;
    }

    .Work .TextContent
    {
        grid-area: TextCont;
    }

    .Work button
    {
        grid-area: Buttn;
        justify-self: end;
    }

    .ClimateChange .BackImg img
    {
        content: url(./assets/HungerBackTablet.png);
    }

    .ClimateChange .Content
    {
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
    }

    .Fact{
        column-gap: 4rem;
    }

    .StoryImg img
    {
        content: url("./assets/story1Tablet.png");
    }


    .StoryImg span
    {
        left:4rem;
        transform: none;

    }

    .NewsList .News:nth-child(1)
    {
        grid-template-areas: "Img TextCont";
    }

    .NewsList .News:nth-child(2)
    {
        grid-template-areas: "TextCont Img ";
    }


    .News > .ImgCont
    {
        grid-area: Img;
        max-height: 60%;
    }

    .News > .TextContent
    {
        grid-area: TextCont;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {

    header
    {
        padding:32px 52px;
    }

    .TextContainer
    {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 200px 1fr;
    }

    .TextContainer ul
    {
        justify-self: end;
    }

    .Banner .Content
    {
        grid-template-areas: "Desc Headline";
        grid-template-columns: auto auto;
        justify-content: flex-start;
    }

    .Banner .Content h1
    {
        grid-area: Headline;
    }

    .Banner .BackgrImg img
    {
        content: url("./assets/Banner1BackDesk.png");

    }
    
    .Banner .BannerDesc
    {
        max-width: 550px;
        padding:74px 64px;
    }

    .ActionItemList
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:58px;
    }

    .WorkList
    {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
    }

    .Work
    {
        justify-items: flex-start;
        display: grid;
        align-items: flex-start;
        grid-template-areas: none;
        grid-template-columns: none;
    }

    .Work .ImgCont
    {
        grid-area: unset;
    }

    .Work .ImgCont img
    {
        width:calc(100% + 64px);
        max-width: unset;
    }

    .Work .TextContent
    {
        grid-area: unset;
    }

    .Work button
    {
        grid-area: unset;
        justify-self: start;
    }

    .ClimateChange .Content
    {
        grid-template-columns: 1fr 1.1fr;
        column-gap: 8rem;
    }

    .ClimateChange .BackImg img
    {
        content: url(./assets/HungerBackDesk.png);
    }

    .Story
    {
        grid-template-columns: 1fr 1.25fr;
        grid-template-areas: "Text Img";
    }

    .StoryImg img
    {
        grid-area: Img;
        content: url("./assets/story1Desk.png");

    }

    .StoryTxtWrapp{
        grid-area: Text;
        position: relative;
    }

    .StoryTxt
    {
        top:50%;
        transform: translateY(-50%);
        right:4rem;
    }

    .StoryTxtWrapp > button {
        position: absolute;
        bottom:0;
        left:4rem;

    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {}